.container {
  padding: 10px 15px;
  background-color: rgb(240, 245, 243);
  min-height: 75vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px 25px;
  align-content: start;
}
.container .card {
  background-color: rgb(244, 118, 72);
  padding: 0 10px;
  display: flex;
  height: 100px;
  border-radius: 10px;
  justify-content: space-between;
  /* align-items: center; */
  color: white;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.container .card .buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-left: 1px solid gray;
  padding: 0 5px;
}
.container .card .buttons > button {
  font-size: 30px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s ease 0s;
  border: 1px solid rgb(142, 134, 134);
}
.container .card .buttons > button:first-child {
  background-color: rgb(2, 92, 21);
}
.container .card .buttons > button:nth-child(2) {
  background-color: rgb(245, 51, 21);
}
.container .card .buttons > button:hover {
  transform: scale(1.2, 1.2);
  opacity: 0.8;
}
